{% layout "server/layouts/base.liquid" %}

{% block content %}

  <h1>{{ straatnaam }}</h1>

  <h2>Huizen in {{ straatnaam }}</h2>

  {% if adressen.length > 0 %}
    <div class="huizen-lijst">
      {% for adres in adressen %}
        <div class="huis">
          <h3>{{ adres.title }}</h3>
          <p>Adres: {{ straatnaam }} {{ adres.house_number }}{% if adres.addition %}
              {{ adres.addition }}{% endif %}
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Geen huizen gevonden in deze straat.</p>
  {% endif %}


{% endblock %}