{% layout "server/layouts/base.liquid" %}

{% block content %}


<a href="/"><svg class="pijltje" enable-background="new 0 0 512 512" fill="" viewBox="0 0 512 512"
    xmlns="http://www.w3.org/2000/svg">
    <g id="_x31_0_Left">
      <g>
        <path
          d="m335.3 6.404h-158.6c-93.896 0-170.296 76.4-170.296 170.296v158.6c0 93.896 76.4 170.296 170.296 170.296h158.6c93.896 0 170.296-76.4 170.296-170.296v-158.6c0-93.896-76.4-170.296-170.296-170.296zm.856 384.663c4.612 4.659 4.612 12.171 0 16.83-2.33 2.33-5.372 3.47-8.415 3.47s-6.086-1.141-8.415-3.47l-143.482-143.482c-4.612-4.659-4.612-12.171 0-16.83l143.482-143.482c4.659-4.611 12.171-4.611 16.83 0 4.612 4.659 4.612 12.171 0 16.83l-135.067 135.067z" />
      </g>
    </g>
    <g id="Layer_1" />
  </svg></a>

<div class="bovenaanPagina">
  <h1 class="header-street">{{ straatnaam }}</h1>
  {% if huidigAdres.size >= 3 %}
  <h4>Scroll ← ← ←</h4>
  {% endif %}
</div>

<div class="wrapper-body-street">

  <section class="wrapper">
    {% for adres in huidigAdres %}

    <a id="huis" class="home-{{ forloop.index }}" href="/detail">


      <section class="text-wrapper">
        <h2>
          {{ adres.street }} {{ adres.house_number }}
          {% if adres.addition %}
          {{ adres.addition }}
          {% endif %}
        </h2>
        <p>Familie {{ adres.last_name }}</p>
      </section>
      <div class="svg-wrapper">
        <svg width="718" height="1469" viewBox="0 0 718 1469" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.2898 553.86C12.1798 505.91 12.0398 458.09 12.2198 410.77C19.9198 405.99 26.7298 407.85 33.1498 407.9C55.2898 408.08 77.0798 405.74 98.2298 399.09C107.72 396.11 117.16 392.61 126.11 388.28C174.53 364.82 200.91 325.46 206.81 272.58C209.24 250.82 209.47 228.74 203.51 207.85C201.22 205.98 199.72 204.67 198.14 203.47C179.33 189.25 172.57 169.14 179.82 147.25C184.61 132.77 193.92 123.41 210.19 122.71C245.78 121.18 266.84 99.37 282.15 70.2C286.14 62.59 288.42 54.09 291.45 45.98C297.81 28.94 309.54 16.7 325.4 8.23003C360.74 -10.64 404.82 4.07003 421.8 40.43C423.77 44.65 425.45 49.01 426.98 53.41C432.76 70.09 442.51 84.16 454.53 96.96C466.4 109.59 480.32 117.79 497.77 119.54C501.07 119.87 504.36 120.46 507.63 121.1C536.33 126.71 545.48 153.56 535.95 176.3C532.96 183.43 527.37 189.6 522.39 195.73C519.51 199.27 515.46 201.86 511.37 205.37C508.73 237.69 506.73 270.21 514.63 302.43C524.52 342.79 549.23 370.65 586.98 387.3C588.72 388.07 590.79 388.11 593.46 388.63C598.74 380.85 594.02 371.58 597.69 362.87C601.09 361.3 605.18 359.41 609.81 357.26C610.42 350.75 611.04 344.19 611.64 337.75C625.62 333.9 668.56 333.5 687.54 337.16C688.37 343.32 689.25 349.79 690.28 357.41C693.88 358.9 698.01 360.61 702.49 362.46C706.64 368.94 704.92 376.46 704.97 383.61C705.37 436.23 705.56 488.86 705.81 541.48C705.85 550.08 705.04 558.52 713.51 564.87C717.79 568.08 718.17 574.25 716.53 579.76C715.2 584.22 714.5 589.08 712.23 593.01C705.88 603.96 705.74 615.74 705.75 627.83C705.84 898.29 705.83 1168.75 705.76 1439.22C705.76 1447.74 706.91 1456.43 703.99 1465.53C700.65 1466.33 697.58 1467.5 694.43 1467.74C689.13 1468.14 683.78 1468.02 678.45 1468.02C465.22 1468.02 252 1468.04 38.7698 1467.96C30.8898 1467.96 22.7498 1469.42 14.3298 1465.15C13.7498 1461.83 12.7098 1458.03 12.5198 1454.19C12.1998 1447.54 12.3898 1440.87 12.3898 1434.21C12.3898 1168.41 12.2998 902.61 12.5798 636.82C12.5998 617.91 11.1598 599.66 3.76983 582.14C2.73983 579.7 2.22983 577.03 1.27983 574.55C-1.61017 567.07 0.479833 561.63 7.66983 558.05C8.78983 557.49 9.60983 556.34 12.3098 553.87L12.2898 553.86ZM359.16 14.88C338.04 14.88 322.59 22.66 312.15 39.13C307.19 46.96 303.35 55.5 299.08 63.76C294.81 72.02 291.14 80.64 286.31 88.56C272.55 111.14 253.7 126.82 226.69 131.19C220.17 132.25 213.6 133.95 207.51 136.47C191.54 143.07 184.2 165.29 192.65 180.3C196.48 187.11 202.28 191.1 210.16 191.99C223.06 193.45 235.47 191.83 246.87 185.46C266.13 174.7 280.45 159.55 287.41 138.2C289.26 132.52 290.86 126.75 292.47 120.99C299.7 95.05 317.54 80.59 343.29 76.33C383.84 69.63 418.28 91.7 425 125.79C425.51 128.39 426.33 130.95 427.29 133.43C434.43 151.85 445.51 167.38 461.69 178.9C473.93 187.62 487.53 192.8 502.79 191.38C507.19 190.97 512.39 189.61 515.5 186.79C525.65 177.61 529.25 165.57 525.66 152.36C522.37 140.25 514.44 133.93 500.95 133.54C481.54 132.97 465.28 124.12 451.23 110.91C438.52 98.95 427.72 85.63 420.07 69.83C415.44 60.26 410.8 50.66 405.48 41.47C394.88 23.13 378.63 14.48 359.16 14.89V14.88Z"
            fill="black" />
          <path
            d="M359.16 14.8801C378.63 14.4701 394.89 23.1301 405.48 41.4601C410.79 50.6501 415.43 60.2501 420.07 69.8201C427.72 85.6201 438.51 98.9401 451.23 110.9C465.28 124.11 481.54 132.96 500.95 133.53C514.44 133.93 522.37 140.24 525.66 152.35C529.25 165.56 525.65 177.59 515.5 186.78C512.38 189.6 507.18 190.96 502.79 191.37C487.53 192.79 473.93 187.61 461.69 178.89C445.51 167.37 434.43 151.84 427.29 133.42C426.33 130.95 425.51 128.38 425 125.78C418.28 91.7001 383.84 69.6201 343.29 76.3201C317.53 80.5801 299.7 95.0301 292.47 120.98C290.86 126.74 289.26 132.51 287.41 138.19C280.46 159.54 266.13 174.69 246.87 185.45C235.46 191.82 223.05 193.44 210.16 191.98C202.28 191.09 196.48 187.1 192.65 180.29C184.2 165.28 191.54 143.06 207.51 136.46C213.6 133.94 220.18 132.24 226.69 131.18C253.7 126.81 272.54 111.13 286.31 88.5501C291.14 80.6301 294.81 72.0101 299.08 63.7501C303.35 55.4901 307.19 46.9501 312.15 39.1201C322.59 22.6501 338.04 14.8601 359.16 14.8701V14.8801Z"
            fill="#7F7F7F" />
          <path
            d="M391.06 225.79H325.05C322.101 225.79 319.71 228.181 319.71 231.13V340.21C319.71 343.159 322.101 345.55 325.05 345.55H391.06C394.009 345.55 396.4 343.159 396.4 340.21V231.13C396.4 228.181 394.009 225.79 391.06 225.79Z"
            fill="#F9EA3E" />
          <path
            d="M489.29 422.34H423.28C420.331 422.34 417.94 424.731 417.94 427.68V536.76C417.94 539.709 420.331 542.1 423.28 542.1H489.29C492.239 542.1 494.63 539.709 494.63 536.76V427.68C494.63 424.731 492.239 422.34 489.29 422.34Z"
            fill="#F9EA3E" />
          <path
            d="M292.84 422.34H226.83C223.881 422.34 221.49 424.731 221.49 427.68V536.76C221.49 539.709 223.881 542.1 226.83 542.1H292.84C295.789 542.1 298.18 539.709 298.18 536.76V427.68C298.18 424.731 295.789 422.34 292.84 422.34Z"
            fill="#F9EA3E" />
          <path
            d="M422.58 1177.47H309.49C305.088 1177.47 301.52 1181.04 301.52 1185.44V1400.76C301.52 1405.16 305.088 1408.73 309.49 1408.73H422.58C426.982 1408.73 430.55 1405.16 430.55 1400.76V1185.44C430.55 1181.04 426.982 1177.47 422.58 1177.47Z"
            fill="#7F7F7F" />
          <path
            d="M205.44 1148.21H103.39C100.441 1148.21 98.0498 1150.6 98.0498 1153.55V1336.58C98.0498 1339.53 100.441 1341.92 103.39 1341.92H205.44C208.389 1341.92 210.78 1339.53 210.78 1336.58V1153.55C210.78 1150.6 208.389 1148.21 205.44 1148.21Z"
            fill="#F9EA3E" />
          <path d="M154.84 1128.99V1350.54" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M228.12 1247.29H82.71" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M621.36 1148.21H519.31C516.361 1148.21 513.97 1150.6 513.97 1153.55V1336.58C513.97 1339.53 516.361 1341.92 519.31 1341.92H621.36C624.309 1341.92 626.7 1339.53 626.7 1336.58V1153.55C626.7 1150.6 624.309 1148.21 621.36 1148.21Z"
            fill="#F9EA3E" />
          <path d="M570.76 1128.99V1350.54" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M644.04 1247.29H498.63" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M205.44 874.5H103.39C100.441 874.5 98.0498 876.891 98.0498 879.84V1062.87C98.0498 1065.82 100.441 1068.21 103.39 1068.21H205.44C208.389 1068.21 210.78 1065.82 210.78 1062.87V879.84C210.78 876.891 208.389 874.5 205.44 874.5Z"
            fill="#F9EA3E" />
          <path d="M154.84 855.29V1076.83" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M228.12 973.58H82.71" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M205.44 616.74H103.39C100.441 616.74 98.0498 619.131 98.0498 622.08V805.11C98.0498 808.059 100.441 810.45 103.39 810.45H205.44C208.389 810.45 210.78 808.059 210.78 805.11V622.08C210.78 619.131 208.389 616.74 205.44 616.74Z"
            fill="#F9EA3E" />
          <path d="M154.84 597.52V819.07" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M228.12 715.82H82.71" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M417.2 874.5H315.15C312.201 874.5 309.81 876.891 309.81 879.84V1062.87C309.81 1065.82 312.201 1068.21 315.15 1068.21H417.2C420.149 1068.21 422.54 1065.82 422.54 1062.87V879.84C422.54 876.891 420.149 874.5 417.2 874.5Z"
            fill="#F9EA3E" />
          <path d="M366.59 855.29V1076.83" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M439.87 973.58H294.47" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M417.2 616.74H315.15C312.201 616.74 309.81 619.131 309.81 622.08V805.11C309.81 808.059 312.201 810.45 315.15 810.45H417.2C420.149 810.45 422.54 808.059 422.54 805.11V622.08C422.54 619.131 420.149 616.74 417.2 616.74Z"
            fill="#F9EA3E" />
          <path d="M366.59 597.52V819.07" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M439.87 715.82H294.47" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M260.23 363.65V585.19" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M333.51 481.94H188.11" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M357.48 169.89V391.44" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M430.76 288.19H285.36" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M456.71 363.65V585.19" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M529.99 481.94H384.58" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M623.36 874.5H521.31C518.361 874.5 515.97 876.891 515.97 879.84V1062.87C515.97 1065.82 518.361 1068.21 521.31 1068.21H623.36C626.309 1068.21 628.7 1065.82 628.7 1062.87V879.84C628.7 876.891 626.309 874.5 623.36 874.5Z"
            fill="#F9EA3E" />
          <path d="M572.76 855.29V1076.83" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M646.04 973.58H500.63" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M622.36 616.74H520.31C517.361 616.74 514.97 619.131 514.97 622.08V805.11C514.97 808.059 517.361 810.45 520.31 810.45H622.36C625.309 810.45 627.7 808.059 627.7 805.11V622.08C627.7 619.131 625.309 616.74 622.36 616.74Z"
            fill="#F9EA3E" />
          <path d="M571.76 597.52V819.07" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path d="M645.04 715.82H499.63" stroke="black" stroke-width="5" stroke-miterlimit="10" />
          <path
            d="M428.5 1428H302.53C301.685 1428 301 1428.69 301 1429.53V1437.16C301 1438.01 301.685 1438.69 302.53 1438.69H428.5C429.345 1438.69 430.03 1438.01 430.03 1437.16V1429.53C430.03 1428.69 429.345 1428 428.5 1428Z"
            fill="#7F7F7F" />
          <path
            d="M438.91 1447H293.05C291.918 1447 291 1447.92 291 1449.05V1455.64C291 1456.77 291.918 1457.69 293.05 1457.69H438.91C440.042 1457.69 440.96 1456.77 440.96 1455.64V1449.05C440.96 1447.92 440.042 1447 438.91 1447Z"
            fill="#7F7F7F" />
        </svg>
      </div>
    </a>

    {% endfor %}
  </section>

</div>

{% assign huidigeIndex = -1 %}
{% for straat in straten %}
{% if straat == straatnaam %}
{% assign huidigeIndex = forloop.index0 %}
{% endif %}
{% endfor %}

{% assign vorigeIndex = huidigeIndex | minus: 1 %}
{% assign volgendeIndex = huidigeIndex | plus: 1 %}

{% assign vorigeStraat = straten[vorigeIndex] %}
{% assign volgendeStraat = straten[volgendeIndex] %}

<footer class="footer-street">
  {% if vorigeStraat %}
  <a href="/{{ vorigeStraat }}">vorige straat</a>
  {% endif %}
  {% if volgendeStraat %}
  <a href="/{{ volgendeStraat }}">volgende straat</a>
  {% endif %}
</footer>

{% endblock %}